.navBar-playlist-wrapper {
  margin-top: 24px;
}

.navBar-playlist-wrapper h2 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin: 0 20px;
}
