* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // background: #000000;
  color: $spotify-grey;
  font-family: $circular-book;
  font-size: $s-size;
  line-height: 0.2em;
  letter-spacing: 0.015em;
  text-transform: none;
}

button {
  cursor: pointer;
}
